@import '../../../scss/_variables';
@import '../../../vendor/bootstrap/scss/mixins/breakpoints';

.terms-and-conditions-pop-ques-content {
	margin-bottom: 50px;
	&:last-child {
		margin-bottom: 0px;
	}

	&__title {
		font-size: 1.5rem;
		line-height: 110%;
		font-weight: 600;
		margin-bottom: 20px;
	} 

	&__text {
		font-size: 1.0625rem;
		line-height: 150%;
		font-weight: 400;
		margin-bottom: 0;
		color: $gray-1;
	}
} 
