@import '../../../scss/_variables';
@import '../../../vendor/bootstrap/scss/mixins/breakpoints';

.instruments-fullwidth-widget {  
    .widget-card {
        overflow: hidden;
        &__title {
            text-transform: capitalize;
            @include media-breakpoint-down(sm){
                font-size: 1.25rem;
            }
        }
        .card-header {
            background: $gradient-light;
            padding: 1rem 1.875rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include media-breakpoint-down(sm){
                padding: 0.75rem;
                border-bottom: 0;
                word-wrap: normal;
                overflow: hidden;
            }
            select.form-control {                        
                @include media-breakpoint-down(sm){
                    padding: 0.5rem;
                    width: 9rem;                                      
                }
            }
        }
        .card-body {
            flex-shrink: 0;
            @include media-breakpoint-down(sm){
                padding: 0 0.25rem;
            }
        }
        iframe {
            min-height: 330px;
            //width: calc( 100% + 5px) !important;
        }  

        select#toShow{
            height: auto;
        }     
    }
}

