.fs-profile{
    .tradingview-widget-container{
        border-radius: 0.625rem;
        padding: 1.875rem;
        height: auto !important;
        background-color: #f4f4f5;
    }
}

.theme-dark{
    .fs-profile{
        .tradingview-widget-container{
            background-color: #17182E;
        }
    }
}