@import '../../../../scss/_variables';
@import '../../../../vendor/bootstrap/scss/mixins/breakpoints';


.cmp-authorization {

	padding: 0;
	overflow-x: hidden;
	&__image{
		@include media-breakpoint-down (sm) {
			width: 250px;
			margin: 0 auto 20px auto;
		} 
	}
	&__subtitle {
		font-size: 1.0625rem;
		line-height: 150%;
		margin-bottom: 0;
		font-weight: 500;
		@include media-breakpoint-down (sm) {
			text-align: center;
		} 
	}

		@include media-breakpoint-down (sm) {
		&__title {
			text-align: center;
			margin: 0 auto;
		} 
		
	}
	@include media-breakpoint-down (md) {
		&__title {
			font-size: 2rem;
		} 
		
	}
}