@import '../../scss/_variables';
@import '../../vendor/bootstrap/scss/mixins/breakpoints';

.banner-comming-soon {	
	.block{
		&__inner {
			background-color: $dark;
			background-position:center;
			background-size: cover;
		}
		&__content {
			display: flex;
			align-items: center;
			padding: 4rem;
			justify-content: center;
			flex-direction: column;
			@include media-breakpoint-up(sm){
			}
			@include media-breakpoint-up(md){
				justify-content: flex-start;
				padding-right: 0;				

			}
			
		}
		&__title { width: 100%; }
		&__subtitle {
			width: 100%;
			margin-bottom: 3rem;
			font-size: 3.25rem;
			@include media-breakpoint-only(md){
				font-size: 2.75rem;
			}
		}
		&__image {
			max-width: 21rem;
		}
	}

}
