@import '../../scss/_variables';
@import '../../vendor/bootstrap/scss/mixins/breakpoints';

.banner-comming-soon {	
	.block{
		&__inner {
			background-color: $dark;
			background-position:center;
			background-size: cover;
			overflow: initial;
		}
		&__content {
			display: flex;
			align-items: center;
			padding: 4rem;
			justify-content: center;
			flex-direction: column;
			@include media-breakpoint-up(sm){
			}
			@include media-breakpoint-up(md){
				justify-content: flex-start;
				padding-right: 0;				

			}
			
		}
		&__small-text{
			border: 1px solid white;
			transform: skew(-5deg);
			padding: .3rem;
			height: fit-content;
			margin: auto 0;
	
			@include media-breakpoint-down(sm){
				width: fit-content;
				margin: auto;
			}
			
			p{
				margin-bottom: 0;
				transform: skew(5deg);
			}
		}

		

		&__title {
			width: 100%;
			margin-bottom: 0;
			font-size: 3.25rem;
			@include media-breakpoint-only(md){
				font-size: 2.75rem;
			}
			@include media-breakpoint-up(md){
				margin-bottom: 3rem;
			}
		}

		&__image-col {
			margin-top: -4rem;
		}
	}

}
